<div class="row">
  <div class="columns content">
    <h1>{{"please_reboot" | translate}}</h1>
    <p>
    {{'need_to_reboot' | translate}}
    </p>
  </div>
  <div class="columns nav-button">
    <button class='button' ng-click="shutdown()">{{"shutdown" | translate}}</button>
    <button class='button' ng-click="reboot()">{{"reboot" | translate}}</button>
  </div>
</div>
