<div class="row">
  <div class="columns content">
  <h1>{{'installation_summary'  | translate}}</h1>
  <p>
  {{'install_summary_info' | translate}}
  </p>
  <p>
    {{'target_device' | translate}} : {{selectedDrive.model}}
    <br>{{'target_partition' | translate}} : {{selectedDrive.path}}
    <!--br>{{'computer_name' | translate}} : {{installationData.hostname}}
    <br>{{'full_name' | translate}} : {{installationData.fullname}}
    <br>{{'username' | translate}} : {{installationData.username}}
    
    -->
  </p>
  </div>
  <div class="columns nav-button">
    <button class='button' ng-click="previous()">{{'previous' | translate}}</button>
    <button class='button' ng-click="next()">{{'install' | translate}}</button>
  </div>
</div>
