<div class="row">
  <div class="columns content">
    <h1>{{'encryption_passphrase' | translate}}</h1>
    <p>
      {{'please_enter_passphrase' | translate}}
    </p>
    <div class="personalization-form">
      <div class="row small-8">
        <div class="small-4 columns">
          <label class="right inline">{{'encryption_passphrase' | translate}}</label>
        </div>
        <div class="small-8 columns">
                <input type="password" ng-model="installationData.secureInstallPassphrase" placeholder=""/>
                <div ng-show="enforceStrongPassword">
                <div style="margin-top:-16px;height:4px;background-color:red;width:33%" ng-show="passwordStrength == 'weak'"></div>
                <div style="margin-top:-16px;height:4px;background-color:yellow;width:66%" ng-show="passwordStrength == 'strong'"></div>
                <div style="margin-top:-16px;height:4px;background-color:#438FB9;" ng-show="installationData.secureInstallPassphrase && (installationData.secureInstallPassphrase == installationData.secureInstallPassphrase)"></div>
                </div>
        </div>
      </div>
      <div class="row small-8">
        <div class="small-4 columns">
          <label class="right inline">{{'repeat_encryption_passphrase' | translate}}</label>
        </div>
        <div class="small-8 columns">
          <input type="password" ng-model="installationData.secureInstallPassphraseRepeat" place-holder="Type the password again"/>
                <div style="margin-top:-16px;height:4px;background-color:#438FB9;" ng-show="installationData.secureInstallPassphrase && installationData.secureInstallPassphrase===installationData.secureInstallPassphraseRepeat"></div>
                <div style="margin-top:-16px;height:4px;background-color:red;" ng-show="installationData.secureInstallPassphrase!==installationData.secureInstallPassphraseRepeat && installationDat.secureInstallPassphraseRepeat"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns nav-button">
    <button class="button" ng-class="{disabled:!installationData.secureInstallPassphrase}" ng-click="validate()">{{'next' | translate}}</button>
  </div>
</div>
