<div class="row">
  <div class="columns content">
    <h1 ng-show="done">{{"one_step_away" | translate}}</h1>
    <h1 ng-show="!done">{{"configuring" | translate}}</h1>
    <p ng-show="done">
    {{'finish_note' | translate}}
    </p>
    <p ng-show="!done">
    {{'please_wait_configuring' | translate}}
    </p>
  </div>
  <div class="columns nav-button">
    <button class="button" ng-disabled="!done" ng-click="shutdown()">{{'shutdown' | translate}}</button>
    <button class="button" ng-disabled="!done" ng-click="reboot()">{{'finish' | translate}}</button>
  </div>
</div>
