<div class="row">
  <div class="columns content">
  <h1>{{'root_password' | translate}}</h1>
<form name="root_password" novalidation>
  <p>{{'please_enter_root_password'  | translate}}</p>
  <div class="personalization-form">
    <div class="row small-8">
      <div class="small-4 columns">
        <label class="right inline">{{'password' | translate}}</label>
      </div>
      <div class="small-8 columns">
              <input type="password" ng-model="installationData.rootPassword"/>
              <div ng-show="enforceStrongPassword">
              <div style="margin-top:-16px;height:4px;background-color:red;width:33%" ng-show="passwordStrength == 'weak'"></div>
              <div style="margin-top:-16px;height:4px;background-color:yellow;width:66%" ng-show="passwordStrength == 'strong'"></div>
              <div style="margin-top:-16px;height:4px;background-color:#438FB9;" ng-show="passwordStrength == 'veryStrong'"></div>
              </div>
      </div>
    </div>
    <div class="row small-8">
      <div class="small-4 columns">
        <label class="right inline">{{'repeat_password' | translate}}</label>
      </div>
      <div class="small-8 columns">
        <input type="password" ng-model="installationData.rootPasswordRepeat" place-holder="Type the password again"/>
              <div style="margin-top:-16px;height:4px;background-color:#438FB9;" ng-show="isSamePassword"></div>
              <div style="margin-top:-16px;height:4px;background-color:red;" ng-show="!isSamePassword && installationData.rootPasswordRepeat[0]"></div>
      </div>
    </div>
    <div class="row small-8">
      <div class="small-4 columns">
        <label class="right inline">{{'enforced_password' | translate}}</label>
      </div>
      <div class="small-8 columns">
        <div class="checkbox" ng-class="{'checkbox-checked':enforceStrongPassword}" ng-click="enforceStrongPassword=!enforceStrongPassword">
          <div class="checkbox-dot" ng-show="enforceStrongPassword"></div>
        </div>
        <span class="checkbox-label" ng-show="enforceStrongPassword">{{'enforced_password_requirements' | translate}}</span>
      </div>
    </div>
  </div>
</form>
  </div>
  <div class="columns nav-button">
    <button class='button' ng-click="previous()">{{'previous' | translate}}</button>
    <button class='button' ng-click="validatePersonalization(installationData, validPassword, isSamePassword)">{{'next' | translate}}</button>
  </div>
</div>
