<div class="row">
  <div class="columns content content-hello" resize>
    <h1>Xecure Installer</h1>
    <p>
    {{'welcome_to_program' | translate}}
    </p>
    {{'please_choose_lang' | translate}}
    </p>
    <p><a class="button dropdown" dropdown-toggle="#language-selection"><span ng-hide="selectedLang">Change language</span><span>{{selectedLang}}</span></a><p>
    <ul id="language-selection" class="f-dropdown">
      <li ng-repeat="lang in languages">
      <a ng-click="setLanguage(lang)">{{lang.title}}</a>
      </li>
    </ul>
    <div ng-show="notEfi">
      <p>
        <h3>{{ 'warning' | translate }}</h3>
        {{ 'your_system_is_not_an_efi' | translate }}
      </p>
    </div>
  </div>
  <div class="columns nav-button">
    <button class='button' ng-click="exit()">{{'continue_using_livecd' | translate}}</button>
    <button class='button' ng-click="next()" ng-disabled="notEfi">{{'install_blankon' | translate}}</button>
    <div class="release-tag">&nbsp;{{release}}</div>
  </div>
</div>
