<div class="row">
  <div class="columns content content-hello" resize>
    <h1>Hardware Security Module : Master Switching</h1>
    <span ng-show="cardDoesntExist">{{'hsm_does_not_present' | translate}}</span><br>
    <span ng-show="pinIncorrect">{{'hsm_pin_incorrect' | translate}}</span><br>
    <span ng-show="wrongToken">{{'hsm_wrong_token_switch' | translate}}</span><br>
    <p ng-hide="HSMDetail && HSMDetail.subject">
      {{'hsm_switch_to_master' | translate}} :
      <input type="password" ng-model="pin" placeholder="Your HSM PIN" ng-keyup="$event.keyCode == 13 && switchHSM()"></input><button class="button" ng-click="switchHSM();">{{'hsm_load' | translate}}</button>
    </p>
    <p ng-show="HSMDetail && HSMDetail.card">
      Smartcard : {{HSMDetail.card}}<br><br>
      <span ng-show="HSMDetail.subject">{{'hsm_certificate_subject' | translate}} :<br> {{HSMDetail.subject}}</a>
    </p>
  </div>
  <div class="columns nav-button" ng-show="HSMDetail && HSMDetail.card">
  </div>
</div>
