<div class="row">
  <div class="columns content">
      <h1>{{'install_partition' | translate}} <small ng-show="advancedPartition">PartoEdi</small></h1>
    <p ng-hide="devices[0]" class="fade">{{'please_wait_system_scanned' | translate}} </p>
    <p ng-show="devices[0] && !advancedPartition" class="fade"><a class="button dropdown" dropdown-toggle="#drive-selection"><span ng-show="!selectedDrive">{{'select_drive' | translate}}</span><span ng-show="selectedDrive">{{selectedDrive.path}} - {{selectedDrive.model}}</span></a><p>
    <ul id="drive-selection" class="f-dropdown">
      <li ng-repeat="drive in devices" ng-hide="drive.path.indexOf('/dev/mapper/') > -1"><!--Ignore LVM specific device-->
        <a ng-click="setDrive(drive)">{{drive.path}} - {{drive.model}} </a>
      </li>
    </ul>
    <div ng-hide="advancedPartition" class="fade">
      <div ng-show="selectedDrive && installationData.secureInstall" class="fade" style="width:500px !important;">
          <p>{{'secure_installation_summary_1' | translate}} {{selectedDrive.path}} {{'secure_installation_summary_2' | translate}}
          </p>
      </div>
    </div>
  </div>
  <div class="columns nav-button" ng-show="devices[0] && !actionDialog && !advancedPartition">
    <button class='button' ng-click="previous()">{{'previous' | translate}}</button>
    <button class="button" ng-class="{disabled:!validInstallationTarget || !installationData.secureInstallPassphrase}" ng-click="validate()">{{'next' | translate}}</button>
  </div>
</div>
